html, body { height: 100% }

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior: contain;
  width: 100%;
  top: 0;
  margin: 0;
  background: rgb(17, 13, 1);
  background: radial-gradient(
    circle,
    rgba(22, 0, 22, 0.322) 0%,
    rgb(22, 26, 29) 53%,
    rgba(137, 220, 255, 1) 100%
  );
  font-family: Arial;
  font-size: 15px;
}

#urlbox {
    margin: auto;
    background: #fff;
    padding: 5px;
    text-align: center;
    line-height: 155%;
    visibility: hidden;
}

#urlTextBox {
    width: 400px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}


.videoFrame {
    display: inline-block;
    position: relative;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 5px solid #fff;
    width: 23%;
    margin: 2%;
}

.videoFrame video {
    border-radius: 5px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: -2px;
}

#videobox {
    text-align: center;
}

.videoFrame .warning {
    visibility: hidden;
    position: absolute;
    color: #e00;
    right: 2px;
    top: -4px;
    font-weight: bold;
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

div#welcome {
    position: relative;
    width: 100%;
    text-align: center;
    top: 30%;
}
#footer_bar {
    width: 100%;
    /* posizionamento in fondo alla pagina */
    position: fixed;
    bottom: 0;
    left : 0;
    right : 0;
    height: 50px;
    border-top: 1px;
    overflow: hidden;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
